:root{
    --radical-blue: #43dbe6;
    --radical-pink: #ff30f1;
}

* {
  font-family: 'Neucha', cursive;
  padding: 0px;
  margin: 0px;
}
body {
    background-color: #555;
    z-index: -1;
}
#confetti {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
    left: auto;
    right: 0;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
    bottom: 0;
    top: auto;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/back.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#bodyWrapper {
  width: 1000px;
  display: block;
  margin: 0px auto;
  padding-top: 20px;
}

#game {
  width: 100%;
  display: inline-block;
  background-color: var(--radical-blue);
  padding: 15px 10px;
  float: left;
  text-align: center;
  color: white;
  font-size: 14pt;
  border-radius: 20px;
  border: 1px solid var(--radical-pink);
  box-shadow: 0 0 50px var(--radical-pink);
}
#game p {
  line-height: 30px;
}
#game a {
  color: white;
}

.hidden {
  display: none;
}

.board {
  width: 1000px;
  margin: auto;
  display: block;
}

.item {
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 178px;
  height: 153px;
  border: 1px var(--radical-blue) solid;
  background-image: url("images/paper.png");
  float: left;
  color: black;
  padding: 10px;
  
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.item p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 32pt;
}

.clicked {
  background: var(--radical-pink);
  color: white;
  border-color: var(--radical-pink);
  box-shadow: 0 0 10px var(--radical-pink);
}
